.mail {
	margin: 7px;
	color: blue;
}

.container a {
	text-decoration: none;
	color: black;
}

.container a:hover {
	color: blue;
}

.no {
	margin: 5px;
	color: blue;
}

.header-right {
	float: right;
}

.in, .ig, .tweet, .messanger  {
	color: blue;
    padding-left: 10px;
}

.in:hover {
    color: paleturquoise;
}

.ig:hover {
    color: paleturquoise;
}

.tweet:hover {
    color: paleturquoise;
}

.messanger:hover {
    color: paleturquoise;
}

.navbar-brand {
	font-size: 30px;
	font-family: verdana;
}

.unvisited {
	color: #212529;
}

.navbar-item:hover {
	border-bottom: 2px solid #0d6efd;
	color: #0D6EFD;
}

.navbar-nav .active {
	border-bottom: 2px solid #0d6efd;
	color: #0d6efd;
}

/* .dropbtn {
    display: inline-block;
    color: white;
    text-decoration: none;
} */

.navbar .dropdown ul {
    display: block;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    padding: 5px 15px;
    text-decoration: none;
    text-align: left;
    list-style-type: none;
}

.navbar .dropdown ul li {
    width: 170px;
}

.navbar .dropdown ul a {
    font-size: 15px;
    margin-top: 10px 0%;
    color: black;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #1977cc;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 110%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    left: calc(100% - 60px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    /* top: 0; */
    /* left: 120%; */
    visibility: visible;
}

.btn {
	font-family: arial;
}

.steth {
    background-image: url("img/hero-bg.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    z-index: -1;
    position: relative;
    /* opacity:1; */
}

.image-content {
    position: relative;
    margin-top: -180px;
}

.image-content h1 {
    /* padding-top: 110px;  */
    font-size: 48px;
    line-height: 56px;
    color: #2c4964;
    font-family: "Raleway", sans-serif;
}

.image-content p {
    color: #2c4964;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}

.image-content a {
	font-size: 14px;
    /* margin-bottom: 270px; */
    font-family: "Raleway", sans-serif;
    transition: 0.5s;
}

.image-content a:hover {
    background: #3291e6;
}

.choose-med {
    margin: -200px 0% 100px 0%;
}

.body {
	border-radius: 5px;
	padding: 20px;
}

.body h2 {
	font-size: 35px;
	color: white;
}

.body p {
	font-size: 17px;
	color: white;
}

.body a {
	background-color: #20ADD8;
	font-size: 17px;
	color: white;
    transition: all ease-in-out 0.4s;
}

.body a:hover {
	background-color: white;
	color: #0D6EFD;
}

.body2 {
	border-radius: 10px;
}

.folder {
	color: #0d6efd;
}

.body2 h3 {
	font-size: 21px;
	color: black;
}

.body2 p {
	font-size: 15px;
	color: gray;
}

.body3 {
	border-radius: 10px;
}

.cube {
	color: #0d6efd;
}

.body3 h3 {
	font-size: 21px;
	color: black;
}

.body3 p {
	font-size: 15px;
	color: gray;
}

.images {
	color: #0d6efd;
}

.body4 {
	border-radius: 10px;
}

.body4 h3 {
	font-size: 21px;
	color: black;
}

.body4 p {
	font-size: 15px;
	color: gray;
}

/* .body5 {
	margin-left: -10%;	
} */

.video-box {
    background: url("../img/about.jpg") center center no-repeat;
    background-size: cover;
    height: 640px;
    position: relative;
}

.play-btn {
    width: 95px;
    height: 95px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
}

.play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

.print:hover {
    background-color: blue;
    color: white;
}

.Enim {
	font-size: 30px;
	color: #2C4964;
}

.body5 p {
	font-size: 18px;
}

/* .body6 {
	display: flex;
	margin-left: -13%; 
} */

.Lorem {
	font-size: 18px;
}

.Lorem a {
	text-decoration: none;
	color: black;
}

.Lorem a:hover {
	color: #0d6efd;
}

.desc {
    margin-left: 85px;
    /* font-size: 10px; */
}

.body6 p {
	font-size: 16px;
	margin-top: 10px;
}

.fingerprint, .gift, .atom {
	margin: 8px 3% 0px 0%;
	border: 1px solid #0d6efd;
    border-radius: 50%;
    /* text-align: center; */
    height: 65px;
    width: 65px;
    color: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.fingerprint:hover {
    background-color: #0d6efd;
    color: white;
}

/* .body7 {
	display: flex;
	margin-left:-13%; 
} */

.Nemo {
	font-size: 20px;
}

.Nemo a {
	text-decoration: none;
	color: black;
}

.Nemo a:hover {
	color: #0d6efd;
}

.body7 p {
	font-size: 15px;
	margin-top: 10px;
}

/* .gift {
	margin: 8px 3% 0px 0%;
	border: 1px solid #0d6efd;
    border-radius: 50%;
    color: #0d6efd;
} */

.gift:hover {
    background-color: #0d6efd;
    color: white;
}

/* .body8 {
	display: flex;
	margin-left: -13%; 
} */

.Dine {
	font-size: 20px;
}

.Dine a {
	text-decoration: none;
	color: black;
}

.Dine a:hover {
	color: #0d6efd;
}

.body8 p {
	font-size: 15px;
	margin-top: 10px;
}

/* .atom {
	margin: 8px 3% 0px 0%;
	border: 1px solid #0d6efd;
    border-radius: 50%;
    color: #0d6efd;
} */

.atom:hover {
    background-color: #0d6efd;
    color: white;
}

#services h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#services h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}

.title {
	position: relative;
}

.icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
}

.icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #0d6efd;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}

.icon i {
    color: white;
    font-size: 28px;
}

.icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #badaf7;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.icon-box h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}

.icon-box h4 a {
    color: #2c4964;
}

.icon-box p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
}

.icon-box:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.icon-box:hover .icon {
    background: white;
}

.icon-box:hover .icon i {
    color: #0d6efd;
}

.icon-box:hover .icon::before {
    background: #3291e6;
}

.icon-box:hover h4 a, .icon-box:hover p {
    color: white;
}

#Make-an-Appointment h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#Make-an-Appointment h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}


/* .form {
	margin-top: -3%;
}

.form2 {
	margin-top: -4%;
} */

/* .form3 {
	margin-top: -8%;
} */

#departments h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#departments h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}

#doctors h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#doctors h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}

.docs  {
	color: #2C4964;
}

.pic img {
    transition: ease-in-out 0.3s;
}

.member:hover img {
    transform: scale(1.1);
}

.social a:hover {
    background: #1977cc;
  }

.FAQ h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

.FAQ h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}

.mor .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.icon-show {
    display: none;
}

.more a {
    /* display: block; */
    position: relative;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.mor a.collapsed {
    color: #343a40;
}

.mor a.collapsed:hover {
    color: #1977cc;
}

.mor a.collapsed .icon-show {
    display: inline-block;
}

.mor a.collapsed .icon-close {
    display: none;
}

.acc, .acc1, .acc2, .acc3, .acc4 {
	font-size: 17px;
    padding: 10px 0 0 0;
}

.department .nav-link {
	border-right: 2px solid lightgray;
	background-color: transparent;
	border-radius: 0; 
}
.department .nav-link.active {
	background-color: transparent;
	border-right: 2px solid blue;
	color: #1977CC;
	font-weight: 500;
}

#gallery h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#gallery h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}

.gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

#contact h2::before { 
    content: "";
    height: 1px;
    bottom: 1px;
    display: block;
    background-color: lightgrey;
    left: calc(50% - 60px);
    margin: -10px 0;
    width: 120px;
    position: absolute;
}

#contact h2::after { 
    content: "";
    height: 3px;
    bottom: 0px;
    display: block;
    background-color: blue;
    right: calc(50% - 20px);
    margin: -10px 0;
    width: 40px;
    position: absolute;
}
.title {
	position: relative;
}

.map, .env {
	color: #1977CC;
	font-size: 21px;	
}

.mob, .map, .env {
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    font-size: 21px;
    color: #1977CC;
}

.mob:hover {
    background: #1977CC;
    color: white;
}

.env:hover {
    background: #1977CC;
    color: white;
}

.map:hover {
    background: #1977CC;
    color: white;
}

.con h4 {
	color:  #2C4964;
	padding-left: 10px;
}	

.con p {
	color: #4b7dAB;
	margin-top: -2px;
	padding-left: 10px;
}

.alt-links ul {
	list-style-type: none;
}

.alt-links li {
	padding: 6px 0% 6px 0%;
	margin-left: -30px;
}

.alt-links li i {
	color: #0D6EFD;
	margin-right: 6px;
}

.alt-links li a {
	text-decoration: none;
	color: #6C757D;
}

.alt-links li a:hover {
	color: #0d6EFD;
}

.newsletter p {
	font-size: 17px;
	margin-top: 15px;
    color:  #6c757d;
}

.nil {
	border: 1px solid powderblue;
	background-color: white;
	border-radius: 40px;
	width: 100%;
    padding: 11px 0%;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1977cc;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.d-flex {
    display: flex!important;
}

a {
    color: #1977cc;
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
} 